.logo{
    padding: 2% 3%;
    position: static;
    width:70px;
    height: 70px;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    /*filter: brightness(3.0);
    mix-blend-mode: multiply;*/
    transition: 800ms;
}

.logo:hover{ 
    transform: rotate(360deg);
}

body{
    margin: 1em 2em;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
    background-image: url(imagenes/background2.jpg);
    background-size: contain;
}

.mensaje{
    display: flex;
    position: absolute;
    width: 680px;
    height: 310px;
    left: 2%;
    top: 20%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    font-weight: bold;
    line-height: 150%;
    text-transform: lowercase;
    text-align: center;
    border: none;
    border-radius: 15px;
    opacity: .5;
}

.resultado{
    position: absolute;
    width: 400px;
    height: 85%;
    left: 40%;
    top: 8%;
    margin: 0 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-radius: 15px;
    border: 5px;
    text-transform: lowercase;
    opacity: .5;
}

.encriptar{
    padding: 30px 0;
    text-align: 50%;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 10%;
    height: 67px;
    left: 15%;
    top: 50%;
    border: none;
    border-radius: 24px;
    transition: 1s;
    font-weight: bold;
    opacity: .9;
}

.encriptar:hover{
    background: #00bcd4;
    transform: scale(1.2);
}

.texto_guia{
    display: flex;
    position: absolute;
    color: black;
    top: 60%;
    left: 4%;
}

.desencriptar{    
    display: flex;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 10%;
    height: 67px;
    left: 30%;
    top: 50%;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    transition: 1s; 
    opacity: .9;
}

.desencriptar:hover{
    background: #00bcd4;
    transform: scale(1.2);
}

.copiar{
    display: flex;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 10%;
    height: 8%;
    left: 68%;
    top: 570px;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    transition: 1s;
    opacity: .9;
}

.copiar:hover{
    background: #00bcd4;
    transform: scale(1.2);
}

.escuchar{
    display: flex;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 10%;
    height: 8%;
    left: 83%;
    top: 570px;
    border: 5px;
    border-color: #ffc600;
    border-radius: 24px;
    font-weight: bold;
    transition: 1s;
    opacity: .9;
}

.escuchar:hover{
    background: #00bcd4;
    transform: scale(1.2);
}

::placeholder{text-align: center; font-weight: bold; text-transform: uppercase;}
    .mensaje:focus {
        outline: none;
    }

footer{
    position: absolute;
    bottom: 0px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke: 1px black;
    text-align: center;
    width: 100%;
    height: 0%;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

@media screen and (max-width:480px) {
    .mensaje, .resultado, .encriptar, .desencriptar, .copiar, .escuchar, footer{
        width: auto;
    }
    .mensaje, .resultado, .encriptar, .desencriptar, .copiar, .escuchar{
        position: static;
        margin: auto;
    }
    .mensaje, .resultado{
        left: 2%;
        margin: 10px;
    }
    .encriptar, .desencriptar, .copiar, .escuchar{
        margin: 1em 10px;
    }
}

@media screen and (max-width:820px) {
    .mensaje, .resultado, .encriptar, .desencriptar, .copiar, .escuchar, footer{
        width: auto;
    }
    .mensaje, .resultado, .texto_guia, .encriptar, .desencriptar, .copiar, .escuchar{
        position: static;
    }
    .mensaje, .resultado, .texto_guia{
        left: 2%;
        margin: 10px;
    }
    .encriptar, .desencriptar, .copiar, .escuchar{
        margin: 1em 10px;
    }
}   